              <li class="bgreen">
                <!-- Graph -->
                <div class="pull-left"><i class="icon-group"></i></div>
                <!-- Text -->
                <div class="datas-text pull-right"><span class="bold"><%=User.all.count%></span> Usuarios Registrados</div>

                <div class="clearfix"></div>
              </li>

              <li class="blightblue">
                <!-- Graph -->
                <div class="pull-left"><i class="icon-list"></i></div>
                <!-- Text -->
                <div class="datas-text pull-right"><span class="bold"><%=Polla.where(real: nil).count%></span> Pollas Creadas</div>

                <div class="clearfix"></div>
              </li>

              <li class="bviolet">
                <!-- Graph -->
                <div class="pull-left"><i class="icon-gift"></i></div>
                <!-- Text -->
                <div class="datas-text pull-right"><span class="bold"><%= number_to_currency(Polla.where(real: nil).count*100000)%></span> En Premios</div>

                <div class="clearfix"></div>
              </li>
              <li class="bblue">
                <!-- Graph -->
                <div class="pull-left"><i class="icon-calendar"></i></div>
                <!-- Text -->
                <div class="datas-text pull-right"><span class="bold">HOY</span> Empieza el mundial! </div>

                <div class="clearfix"></div>
              </li> 