<% provide(:title, @polla.name) %>
<% provide(:subtitle, 'Ingrese sus Predicciones')%>
<div class="matter">
	<div class="container" id="polla_edit">
		<%= render partial: 'polla_edit_tabs'%>
	</div>
</div>
