<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %></h1>
    <p>
      Le ha enviado una notificación de pago para la polla <%= @polla.name %> id <%= @polla.id %>.<br/>Mire a ver!
  </p>
  </body>
</html>