<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido <%= @user.name %></h1>
    <p>
      Su registro se ha completado de manera exitosa,
      el nombre de usuario que debe usar para ingresar a la plataforma es: <%= @user.email %>.<br>
    </p>
    <p>
       Recuerde completar su apuesta <strong>antes del comienzo del campeonato el 12 de Junio.</strong>
    </p>
    <p>Mucha suerte, espero que se entretenga durante este mes.</p>
  </body>
</html>